/* 
    Document   : main
    Created on : 24/02/2011, 16:09:50
    Author     : Rodrigo Castro
    Description:
        CSS principal do site
*/

root { 
    display: block;
}

body {
    background-color: #F2CA89;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF964D', endColorstr='#FFAF79'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FF964D), to(#FFAF79)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FF964D,  #FFAF79); /* for firefox 3.6+ */
    background-attachment: fixed;
    color: #333333;
    text-align: center;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 20px;
    margin: 0px;
}

table, tr, td {
    margin: 0px;
    padding: 0px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #666666;
}

input[type="submit"] {
    color: #555555;
    border: 1px solid #7DB24F;
    -moz-border-radius: 4px;
    height: 26px;
    padding: 0px 4px 0px 4px;
    line-height: 24px;
    font-size: 12px;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8BF6A', endColorstr='#CCCB93'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#A8BF6A), to(#CCCB93)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #A8BF6A,  #CCCB93); /* for firefox 3.6+ */
}

input[type="submit"]:hover {
    background: -moz-linear-gradient(top, #CCCB93, #A8BF6A); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCB93', endColorstr='#A8BF6A'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#CCCB93), to(#A8BF6A)); /* for webkit browsers */
}

.even {
    background-color: #F8FCEB;
}

.odd {
    background-color: #ECF0D3;
}

div.form {
    width: 600px;
    padding: 5px 5px 5px 0px;
    margin-top: 10px;
    border: 2px solid #CCCB93;
    background-color: #ECF0D3;
    text-align: left;
    padding-top: 10px;
}

div.field {
    margin-bottom: 10px;
    padding: 5px 0px 5px 20px;
    min-height: 50px;
    line-height: 25px;
    -moz-border-radius: 0px 30px 30px 0px;
    border-radius: 0px 30px 30px 0px;
    -webkit-border-radius: 0px 30px 30px 0px;
    border: 1px solid #DCE6C3;
    border-left: none;
    background-color: #F6F6F6;
}

div.actions {
    margin-bottom: 10px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    -moz-border-radius: 0px 30px 30px 0px;
    border-radius: 0px 30px 30px 0px;
    -webkit-border-radius: 0px 30px 30px 0px;
    border: 1px solid #DCE6C3;
    background-color: #F6F6F6;
}

div.select select {
    min-width: 300px;
}

div.date select {
    min-width: 100px;
}

div.text textarea {
    height: 100px;
}

.messages {
    width: 70%;
}

.messages .message {
    border: 2px solid;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.messages .notice {
    border-color: #008800;
    background-color: #AAFFBB;

}

.messages .alert {
    border-color: #D12F19;
    background-color: #FBC2C4;
}

.field_with_errors {
/*    background-color: red;
    display: table;*/
    margin: 0;
    padding: 0;
}

#error_explanation {
    width: 550px;
    text-align: left;
    border: 2px solid #CC0000;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    -moz-border-radius: 7px;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0px;
    margin-bottom: 0px;
    background-color: #CC0000;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
.template {
    width: 900px;
}

.round {
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.header {
    background-color: White;
    border: 1px solid #FF964D;
    border-top: none;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 0px 10px 10px;
    margin-bottom: 6px;
    height: 120px;
}

.header h1 {
    margin: 0px;
    padding: 0px;
    font-size: 32px;
}

.footer {
    height: 70px;
    text-align: center;
    line-height: 26px;
    border: 1px solid #FF964D;
    width: 900px;
    margin-top: 10px;
    background-color: #F4F4F4;
    padding-top: 4px;
    padding-bottom: 4px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.menu {
    height: 27px;
    background-color: #F2CA89;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2D5A9', endColorstr='#F2CA89'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#F2D5A9), to(#F2CA89)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #F2D5A9,  #F2CA89); /* for firefox 3.6+ */
    list-style-type: none;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 6px;
    padding: 0px;
    padding-left: 50px;
}

.menu li {
    display: block;
    float: left;
    min-width: 130px;
}

.menu li a {
    height: 25px;
    line-height: 25px;
    color: #333333;
    text-decoration: none;
    display: block;
    border: 0px;
    border: 1px solid rgba(0, 0, 0, 0.0);
}

.menu li a:hover {
    background-color: #CCCB93;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
    border: 1px solid #CCCB93;
    color: #666666;
}

.menu_hover {
    background-color: #CCCB93;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
    color: #666666;
}

.menu li a.current{
    color: #FFF;
    background: #FFF url("images/current-bg.gif") top left repeat-x;
    padding: 5px 15px 0;
}

.menu_drop {
    top: 0px;
    left: 0px;
    background-color: #CCCB93;
    background-color: rgba(204, 203, 147, 0.9);
    width: 170px;
    border: 1px solid #CCCB93;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    list-style: none;
    text-align: left;
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
}

.menu_drop li {
    padding-left: 5px;
    line-height: 24px;
    height: 24px;
}

.menu_drop li a {
    display:block;
}

.menu_drop li:hover {
    background-color: rgba(224, 223, 167, 0.9);
}

.content {
    border: 1px solid #FF964D;
    width: 900px;
    background-color: #F4F4F4;
    padding-top: 0px;
    padding-bottom: 10px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    min-height: 300px;
}

.pessoas_dados {
    text-align: left;
    border: 1px solid #FF964D;
    width: 600px;
    background-color: #E0E0E0;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

.pessoas_dados ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pessoas_dados li {
    background-color: #E0E0E0;
    padding-left: 10px;
}

.pessoas_dados li:hover {
    background-color: #DADADA;
}

.pessoas_competencias {
    text-align: left;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.data_list {
    width: 700px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #CCCB93;
    background-color: #C8DF8A;
    background-image: -moz-linear-gradient( center top, #A8BF6A 0px, #C8DF8A 30px, #FFFFFF 100% );
    line-height: 24px;
}
.data_list td { padding: 0px 4px 0px 4px; border-left: 1px solid #CCCB93; }
.data_list td:first-child { border-left: none; }
.data_list tr:first-child td { border-bottom: 1px solid #CCCB93; }
.data_list td a { display: block; color: inherit; }
.data_list tr:hover td { background: #E7EACB; }
.data_list tr:hover:first-child td { background: inherit; }

.projetos_descricao {
    width: 500px;
    min-height: 200px;
    border: 1px solid #7DB24F;
    background-color: #CCCB93;
}

.data_show {
    text-align: left;
    border: 1px solid #CCCB93;
    width: 700px;
    line-height: 25px;
    background-color: #ECF0D3;
    padding-bottom: 10px;
}
.data_show h1 {
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding: 6px 0px 6px 0px;
    background-color: #C8DF8A;
}
.data_show p {
    border: 1px solid #DCE6C3;
    background-color: #F6F6F6;
    margin: 5px 20px 0px 20px;
    padding-left: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    line-height: 26px;
    height: 28px;
}

.data_show_child { width: 700px; line-height: 26px; }
.data_show_child a {
    display: block;
    margin: 3px 3px 3px -1px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.data_show_child h3 { margin: 20px 0px 5px 0px; }
.data_show_child table { background-color: #C8DF8A; border: 1px solid #CCCB93; text-align: left; width: 700px; }
.data_show_child p { margin: 0px; }
.data_show_child td, .data_show_child th { border-left: 1px solid #CCCB93; padding-left: 4px; }
.data_show_child td:first-child { border-left: none; }
.data_show_child tr.even { background-color: #ECF0D3; }
.data_show_child tr.odd { background-color: #F8FCEB; }
.data_show_child tr a:hover { background-color: #DFF3AF; }
.data_show_child .new td { background-color: #DBEBAA; border-top: 1px solid #CCCB93; }

.data_show_compact { width: 700px; padding: 0 15px 0 15px; border-spacing: 5px; }
.data_show_compact tr { margin-top: 10px; }
.data_show_compact tr td {
    border: 1px solid #DCE6C3;
    background-color: #F6F6F6;
    padding-left: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    line-height: 26px;
    height: 28px;
    width: 50%;
    margin: 10px;
}

.redirect_buttons {
    margin: 10px 0px 0px 0px;
}

.redirect_buttons a {
    color: #555555;
    border: 1px solid #7DB24F;
    -moz-border-radius: 4px;
    height: 26px;
    padding: 0px 4px 0px 4px;
    line-height: 24px;
    font-size: 12px;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8BF6A', endColorstr='#CCCB93'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#A8BF6A), to(#CCCB93)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #A8BF6A,  #CCCB93); /* for firefox 3.6+ */
}

.redirect_buttons a:hover {
    background: -moz-linear-gradient(top, #CCCB93, #A8BF6A); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCB93', endColorstr='#A8BF6A'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#CCCB93), to(#A8BF6A)); /* for webkit browsers */
}