/* 
    Document   : main
    Created on : 24/02/2011, 16:09:50
    Author     : rodcastro
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    background-color: #F2CA89;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF964D', endColorstr='#FFAF79'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FF964D), to(#FFAF79)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FF964D,  #FFAF79); /* for firefox 3.6+ */
    background-attachment: fixed;
    color: #333333;
    text-align: center;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 20px;
    margin: 0px;
}

table, tr, td {
    margin: 0px;
    padding: 0px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #666666;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.messages {
    width: 90%;
}

.messages .message {
    border: 2px solid;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.messages .notice {
    border-color: #008800;
    background-color: #AAFFBB;

}

.messages .alert {
    border-color: #D12F19;
    background-color: #FBC2C4;
}

.field_with_errors {
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
.template {
    width: 900px;
}

.header {
    background-color: White;
    border: 1px solid #FF964D;
    border-top: none;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 0px 10px 10px;
    margin-bottom: 6px;
    height: 120px;
}

.header h1 {
    margin: 0px;
    padding: 0px;
    font-size: 32px;
}

.menu {
    height: 30px;
    background-color: #F2CA89;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2D5A9', endColorstr='#F2CA89'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#F2D5A9), to(#F2CA89)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #F2D5A9,  #F2CA89); /* for firefox 3.6+ */
    list-style-type: none;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 6px;
    padding: 0px;
    padding-left: 50px;
}

.menu li {
    display: block;
    float: left;
    width: 130px;
}

.menu li a {
    height: 28px;
    line-height: 28px;
    color: #333333;
    text-decoration: none;
    display: block;
    border: 0px;
    border: 1px solid rgba(0, 0, 0, 0.0);
}

.menu li a:hover {
    background-color: #CCCB93;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
    border: 1px solid #CCCB93;
    color: #666666;
}

.menu_hover {
    background-color: #CCCB93;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
    color: #666666;
}

.menu li a.current{
    color: #FFF;
    background: #FFF url("images/current-bg.gif") top left repeat-x;
    padding: 5px 15px 0;
}

.menu_drop {
    position: absolute;
    background-color: #CCCB93;
    background-color: rgba(204, 203, 147, 0.9);
    width: 160px;
    border: 1px solid #CCCB93;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    list-style: none;
    text-align: left;
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
}

.menu_drop li {
    padding-left: 5px;
    line-height: 28px;
    height: 28px;
}

.menu_drop li a {
    display:block;
}

.menu_drop li:hover {
    background-color: rgba(224, 223, 167, 0.9);
}

.content {
    border: 1px solid #FF964D;
    width: 900px;
    background-color: #EEEEEE;
    padding-top: 0px;
    padding-bottom: 10px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    min-height: 300px;
}

.pessoas_dados {
    text-align: left;
    border: 1px solid #FF964D;
    width: 600px;
    background-color: #E0E0E0;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

.pessoas_dados ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pessoas_dados li {
    background-color: #E0E0E0;
    padding-left: 10px;
}

.pessoas_dados li:hover {
    background-color: #DADADA;
}

.pessoas_competencias {
    text-align: left;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}