<h1>Usuários cadastrados</h1>

<table>
  <tr>
    <td>Nome</td>
    <td>Email</td>
  </tr>
<% @users.each do|user| %>
  <tr>
    <td>
      <%= user.nome %>
    </td>
    <td>
      <%= user.email %>
    </td>
  </tr>
    <% end %>
  </table>
